.bg_footer {
	background: #f8f8f8;
	border: 1px solid #e7e7e7;
	padding-top: 15px;
	padding-bottom: 15px;
}

.bg_azul {
	background: #0000FF;
}

.text_login {
	font-size: 26px;
	color: #4682B4;
}

#login {
	font-size: 32px;
	color: #016658;
}

#titulo {
	font-size: 36px;
	color: #4682B4;
}

input.ng-invalid.ng-touched {
	border: 1px solid #8B0000;
}

input.ng-valid.ng-touched {
	border: 1px solid #006400;
}

.wrong {
	color: #8B0000;
}

.button_access {
	padding-top: 10px;
}

#tab_title {
	color: #4682B4;
}

body {
	font-family: 'Questrial', sans-serif;
	padding-top: 70px;
}

.horizontal_divider {
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1px;
	border-top-style: solid;
	border-top-color: #eeeeee;
}

.fixed_footer {
	margin-top: 40px;
}

.vertical_align {
	margin-top: 12.5%;
	margin-bottom: 12.5%;
}

html, body {
	height: 100%;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.spacing{
	margin-bottom: 20px;
}

.bg_box{
	border-radius: 25px;
    background: #dfdfdf;
    padding: 15px;
    /*height: 500px;*/
    height: 475px;
}

.bg_box_half{
	border-radius: 25px;
    background: #dfdfdf;
    padding: 15px;
    /*height: 240px;*/
    height: 350px;
}

/* CSS BOOTSTRAP */
.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #016658 !important;
    border-color: #016658 !important;
}
.btn-primary:hover{
	background-color: #026d5d !important;
	border-color: #026d5d !important;
}
a {
	color: #016658 !important;
}

a:hover{
	color: #026d5d !important;
}

.propagandas_space{
	padding-top: 10px;
	padding-bottom: 10px;
}

.propaganda_box{
	border-radius: 30px;
    background: #dfdfdf;
    margin-bottom: 20px;
    /*padding: 15px;*/
    /*height: 500px;*/
}


 
 .spacing_box{
	margin-bottom: 10px;
}